.vscode/
.github/
build/
Camera/
logs/
assets/img_with_q/
assets/img/
records/
records_auto_buff_big/
records_new/
imgs/
MvSdkLog/
testvideos/
watchdog.sh
records_24/
records_25/
*.txt
25-season-Omni-Infantry/*
25-season-Hero-main/*