[submodule "references/WeiyiHuang25-25_3v3_final_exam_infantary-settings"]
	path = references/WeiyiHuang25-25_3v3_final_exam_infantary-settings
	url = https://github.com/WeiyiHuang25/WeiyiHuang25-25_3v3_final_exam_infantary-settings.git
