.vscode/
.github/
build/
build_fresh/
build_sys/
build_uv/
Camera/
logs/
assets/img_with_q/
assets/img/
records/
records_auto_buff_big/
records_new/
imgs/
MvSdkLog/
testvideos/
watchdog.sh
records_24/
records_25/
.venv/
__pycache__/
.pytest_cache/
*.pyc
*.txt

references/
.codex
