[submodule "reference/WeiyiHuang25-25_3v3_final_exam_infantary-settings"]
	path = reference/WeiyiHuang25-25_3v3_final_exam_infantary-settings
	url = https://github.com/Chr0mium24/WeiyiHuang25-25_3v3_final_exam_infantary-settings.git
