[submodule "references/WeiyiHuang25-25_3v3_final_exam_infantary-settings"]
	path = references/WeiyiHuang25-25_3v3_final_exam_infantary-settings
	url = https://github.com/WeiyiHuang25/WeiyiHuang25-25_3v3_final_exam_infantary-settings.git
[submodule "references/25-season-Hero-main"]
	path = references/25-season-Hero-main
	url = https://github.com/Chr0mium24/25-season-Hero-main.git
